.panel-group {
    float: left;
    width: 218px;
    margin-left: 21%;
}

a{
    cursor:pointer;
    background-color: transparent;
    text-decoration: none;
}

a:active, a:hover {
    outline: 0;
}
.panel-collapse a {
    display: block;
    width: 203px;
    height: 36px;
    color: #000;
    font-size: 14px;
    line-height: 36px;
    padding-left: 20px;
}

.panel-collapse a:hover{
    background: bisque;
    text-decoration: blink;
}






