#songName{
    width:auto;
}

/*Carousel*/
#myCarousel .carousel-indicators li {
    width: 50px;
    height: 5px;
    border-radius: 1px;
}

.carousel-indicators .active {
    margin: 1px 0;
}

/*缩略图*/
.row{
    margin-top: 70px;

}

.row .col-xs-3 {
    width:150px;
}

div.col-xs-3{
    text-align:center;
}

.video{
    width: 100%;
    height: 737px;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
}

.carousel-caption img{
    width: 70vmin;
}

.spotlight-image{
    background-image: url('http://overwatch.nos.netease.com/1/images/v2/home/overlay/dva.png');
    width: 42%;
    background-repeat: no-repeat;
}



