<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/dva.css">
    <link rel="stylesheet" href="../css/head.css">
    <link rel="stylesheet" href="../css/foot.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../js/jquery.min.js" ></script>
    <script src="../js/bootstrap-paginator.min.js"></script>
</head>
<body>
<div style="position: relative;bottom: 0;left: 50%;" class="col-sm-12">
    <ul id="pagintor"></ul>
</div>
<div>
    <table style="width: 1000px; float: right; overflow: auto;margin-right: 14.45%">
        <thead>
        <tr style="border-bottom: 1px solid #919191;line-height: 35px;">
            <th style="text-align: center;">玩家ID</th>
            <th style="text-align: center;">英雄熟练度</th>
            <th style="text-align: center;">排名</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="../js/test.js" ></script>
<script type="text/javascript" src="../js/tools.js" ></script>
</body>
<script type="text/javascript">
    function Vehicle() {
        this.engines=1;
    }
    Vehicle.prototype.ignition = function () {
        console.log("Turning on my engine");
    };
    Vehicle.prototype.drive = function () {
        this.ignition();
        console.log("Steering and moving foward!");
    };

    function Car() {
        var car = new Vehicle();
        car.wheels = 4;
        var vehDrive = car.drive;

        car.drive = function(){
            vehDrive.call(this);
            console.log("Rolling on all" + this.wheels + "wheels");
        }
        return car;
    }
    var myCar = new Car();
    myCar.drive();
</script>
</html>